* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(242, 240, 240);

}

.card {
    border: 2px solid black;
    width: 312px;
    height: auto;
    margin: 42px auto;
    background-color: white;
    border-radius: 12px;
}

img {
    display: block;
    width: 301px;
    height: 200px;
    margin: 6px;
    border-radius: 12px;
}

.capsule {
    margin: 20px 5px;
}

span {
    border: 2px solid black;
    border-radius: 16px;
    margin: 5px;
    padding: 4px 10px;
}

.content {
    margin: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

button {
    display: block;
    margin: 12px auto;
    padding: 10px 18px;
    border-radius: 16px;
    color: rgb(23, 89, 211);
    font-weight: 700;
    background-color: rgb(204, 239, 239);
    border:2px solid white;
    cursor: pointer;
}
 button:hover{
    background-color: rgb(184, 222, 251);
}
p{
    margin-top: 22px;
}
